# Dependencias
node_modules/
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Entorno / secretos
.env
.env.local
.env*.local

# Vercel
.vercel

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Notas privadas
notas_privadas/
